.#{$prefix}-card {
    box-shadow: $card-box-shadows;
    overflow: hidden;
    text-align: center;
    background-color: $white;

    .card-image {
        overflow: hidden;
    }  
    
    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 35vh;
        transition: $hover-card-transition;
    }

    &:hover img {
        transform: scale(1.2)
    }

    .card-title {
        font-size: 22px;
        padding: 0.5em;
        overflow: hidden;
        background-color: $white;
    }

    .card-content {
        background-color: $white;
        -webkit-line-clamp: $card-content-max-line;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        padding: 1em;
    }
}