$color-variant: 10;
.#{$prefix}-btn { 
    outline: none;
    border: none;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s;
    transition: $hover-transition;

    &.bg-blue:hover {background-color: darken($blue, $color-variant) !important;}
    &.bg-indigo:hover {background-color: darken($indigo, $color-variant) !important;}
    &.bg-purple:hover {background-color: darken($purple, $color-variant) !important;}
    &.bg-pink:hover {background-color: darken($pink, $color-variant) !important;}
    &.bg-red:hover {background-color: darken($red, $color-variant) !important;}
    &.bg-orange:hover {background-color: darken($orange, $color-variant) !important;}
    &.bg-yellow:hover {background-color:darken($yellow, $color-variant) !important;}
    &.bg-green:hover {background-color: darken($green, $color-variant) !important;}
    &.bg-teal:hover {background-color: darken($teal, $color-variant) !important;}
    &.bg-cyan:hover {background-color: darken($cyan, $color-variant) !important;}
    &.bg-white:hover {background-color: darken($white, $color-variant) !important;}
    &.bg-ray:hover {background-color: darken($ray, $color-variant) !important;}
    &.bg-gray-dark:hover {background-color: darken($gray-dark, $color-variant) !important;}
    &.bg-light:hover {background-color: darken($light, $color-variant) !important;}
    &.bg-dark:hover {background-color: darken($dark, $color-variant) !important;}
}