img {
    max-width: 100%;
    height: auto
}

.#{$prefix}-max-size {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.#{$prefix}-round {
    @extend .#{$prefix}-max-size;
    border-radius: 50%;
}

.#{$prefix}-blur {
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}