label {
    font-size: 16px;
    font-weight: 400;
}


.#{$prefix}-input {
    padding: 10px;
    display: block;
    border: none;
    border-radius: 2px;
    border: 1px solid #8aa9da;
    width: 100%;
    resize: vertical;
}

.#{$prefix}-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}