.#{$prefix}-input {
    padding: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    resize: vertical;
}

.#{$prefix}-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}