.#{$prefix}-sm-container {max-width: 90%;margin: auto; position: relative;}
.#{$prefix}-sm-container-fluid {max-width: 100%; width:100vw;margin: auto; position: relative;}
.display-sm-none {display: none;}


// DEFAULT PROPERTIES FOR TABLET
@media #{$tablet} {
    .#{$prefix}-tab-container {max-width: 90%;margin: auto; position: relative;}
    .#{$prefix}-tab-container-fluid {max-width: 100%; width:100vw;margin: auto; position: relative;}
    .display-sm-none {display: block;}
    .display-tab-none {display: none;}
}


// DEFAULT PROPERTIES FOR DESKTOP
@media #{$desktop} {
    .#{$prefix}-desk-container {max-width: 90%;margin: auto; position: relative;}
    .#{$prefix}-desk-container-fluid {max-width: 100%; width:100vw;margin: auto; position: relative;}
    .display-sm-none {display: block;}
    .display-tab-none {display: block;}
    .display-desk-none {display: none;}
} 