.#{$prefix}-table {
    overflow-x: auto;
    background: $white;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    
    .table-header, th {
        background-color: $dark;
        color: $white;
        font-weight: 400
    }
    
    tr:nth-child(even){background: $light-gray;}

    th, td {
        text-align: left;
        padding: 10px 20px;

        a {
            color: inherit;
        }
    }

    
    
}