// Buttons
$hover-transition: .3s;
$hover-scale: scale(1.1);
$hover-rotate-left: rotate(-10deg);
$hover-rotate-right: rotate(10deg);


// Cards
$card-content-max-line: 2;
$hover-card-transition: .3s;
$card-box-shadows: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);;
